body {
    background-color: cadetblue;
}
img {
    display: none;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#stats {
    margin: auto;
    /* width: 50%; */
    background-color: rgba(0, 0, 255, 0.224);
}
.holder {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;
    height: 20px;
    width: 90%;
    margin-top: -40px;
}
#health-holder {
    padding-left: 10;
    margin-left: 10;
    /* margin-top: -40px; */
    background:#82624f
}
#mana-holder {
    padding-right: 10;
    /* margin-left: 55%; */
    background:#4d4967
}

#health {
    width:0;
    height:100%;
    background:#ff4f1e;
    -webkit-transition: width 500ms
}
#mana {
    width:0;
    height:100%;
    background:#285eff;
    -webkit-transition: width 500ms
}
    